.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mainRight {
  padding-top: 20vh;
  width: 50vw;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mainWelcome {
  font-size: 70px;
}

.mainWelcome span {
  color: #f8ba00;
  font-family: "Comfortaa";
  font-weight: bold;
}

.mainFind {
  font-size: 24px;
  padding-bottom: 3vh;
  font-weight: bold;
}

.mainButton {
  font-size: 48px;
  border-radius: 10px;
  border-width: 0;
  background-color: #1746a2;
  width: 18vw;
  padding: 2vw;
  color: #ffffff;
}

.mainButton:hover {
  background-color: #113375;
  cursor: pointer;
  transition-duration: 0.2s;
}

.mainLeft {
  height: 100vh;
  width: 50vw;
}

.welcome-svg {
  position: fixed;
  left: 5vw;
  top: 20vh;
  height: 70vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
