.inputPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputMiddle {
  width: 26vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTitle {
  font-size: 64px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-top: 10vh;
  font-family: "Comfortaa";
}

.chat-bubble {
  font-size: 24px;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
  margin-bottom: 2vh;
  border: none;
}

/* .chat-bubble.chat-right:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 33px solid transparent;
  border-left-color: #ffb6b6;
  border-right: 0;
  border-bottom: 0;
  margin-top: -16.5px;
  margin-right: -33px;
} */

.chat-bubble p {
  margin: 0;
}

.chat-bubble.chat-left {
  align-self: flex-start;
  background-color: #f8ba00;
}

.chat-bubble.chat-right {
  align-self: flex-end;
  background-color: #ffffff;
}

input.chat-bubble.chat-right {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.inputButton {
  font-size: 35px;
  border-radius: 10px;
  border-width: 0;
  background-color: #1746a2;
  width: 15vw;
  height: 8vh;
  padding: 1vh;
  margin-top: 3vh;
  color: #ffffff;
}

.inputButton:hover {
  background-color: #113375;
  cursor: pointer;
  transition-duration: 0.2s;
}

.input-phone-svg {
  position: fixed;
  right: -2vw;
  top: 10vh;
  height: 60vh;
}

.social-girl-svg {
  position: fixed;
  left: 5vw;
  top: 50vh;
  height: 10vh;
  width: 10vw;
}

/* dropdown header stuff */
.dropdown-header {
  text-align: center;
  color: rgb(144, 144, 144);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selectedOption {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  width: 100%;
}

.dropdown-options {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-options li {
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
