.resultsPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.resultsTitle {
  font-family: "Comfortaa";
  font-size: 64px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-top: 10vh;
}

.resultsBrand {
  color: #ef8600;
}

.resultsPeopleHeading {
  font-size: 24px;
}

.userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
  text-align: center;
  align-items: center;
  margin-left: 5vh;
}

.userDiv {
  width: 70vw;
  height: 10vh;
  margin-bottom: 3vh;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.resultsUserInfo {
  width: 5vw;
  /* margin-left: 1vw; */
  /* margin-right: 1vw; */
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.resultsUserInfoName {
  width: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.userInfoSpan {
  font-style: italic;
}

.userPic {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
  margin-left: -5vh;
}

.userPic img {
  border-radius: 50%;
  border-color: #ef8600;
  border-width: 5px;
  border-style: solid;
}

/* profile link a tag */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f8ba00;
  transition-duration: 0.1s;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20vw;
  background-color: #1746a2;
  color: #ffffff;
  border-radius: 10px;
  top: -3vh;
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
